.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #6CA3CB;
    margin-left: 280px;
}

.text {
    font-style: normal;
    font-weight: 200;
    font-size: 29px;
    letter-spacing: 0.04em;
    color: white;
}

.menuContainer {
    position: fixed;
    z-index: 2;
    background: white;
    left: 0;
    top:0;
    height: 100%;
    width: 280px;
    box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.2);
    overflow: auto;
}

.title {
    padding: 10px 0 10px 30px;
    color: #6CA3CB;
    font-size: 25px;
    font-weight: 300;
}

.link {
    padding: 10px 0 10px 30px;
    color: #474747;
    font-size: 20px;
    font-weight: 200;
    transition: 0.4s;
}

.link:hover {
    cursor: pointer;
    background-color: #6CA3CB;
    color: white;
}

.menuContainer::-webkit-scrollbar {
    width: 3px;
}

.menuContainer::-webkit-scrollbar-track {
    background-color: #F3F3F3
}

.menuContainer::-webkit-scrollbar-thumb {
    background: #D9D9D9;
    width: 3px;
}